{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/assets/Hangman/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'portfolio/assets/Hangman/logic.js' %}"></script>

    <title>Hangman</title>
</head>
<body>
	<h1 id="secret_word">{{ word }}</h1>
    <h1>HANGMAN</h1>
    <div id="container">
        <div id="score">Your score: <span id="yourScore">0</span></div>
        <canvas id="hangman" width="180" height="250"></canvas>
        <div id="success"></div>
    </div>
    <div id="dashedWord"></div>
    <script src="{% static 'portfolio/assets/Hangman/script.js' %}"></script>
    <div id="letters"></div>
</body>
</html>