{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/assets/Hangman/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'portfolio/assets/Hangman/logic.js' %}"></script>

    <title>Hangman</title>
</head>
<body>
	<h1 id="secret_word">{{ word }}</h1>
    <h1 id="secret_score">{{ score }}</h1>
    <h1>HANGMAN</h1>
    <div id="container">
        <div id="score">Your score: <span id="yourScore">{{ score }}</span></div>
        <canvas id="hangman" width="180" height="250"></canvas>
        <div id="success"></div>
    </div>

    <div class="container">
        <h1>You've been hanged!</h1>
        <br>
        <h2>Your score: <span id="display_score"></span></h2>
        <br>
        <h2>Word you were guessing:</h2>
        <br>
        <h2><span id="display_word"></span></h2>
    </div>
    <button id="play_again_btn">Play again</button>

    <div class="container_win">
        <h1>Great Job!</h1>
        <br>
        <h2>Your score: <span id="display_score_win"></span></h2>
        <br>
    </div>
    <button id="play_again_win">Continue</button>

    <div id="dashedWord"></div>
    <script src="{% static 'portfolio/assets/Hangman/script.js' %}"></script>
    <div id="letters"></div>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
</body>
</html>