{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'portfolio/assets/Hangman/leaderboard.css' %}">
    <title>Hangman-leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name:</th>
            <th scope="col" style="text-align: right;"">Score:</th>
          </tr>
        </thead>
        <tbody>
          
            {% for name in names %}
            <tr style="color: navy;">
                <td>{{ name.name }}</td>
                <td style="text-align: right;">{{ name.score }}</td>
            </tr>
                {% endfor %}
          
        </tbody>
      </table>
      </div>
      <button><a href="{% url 'hangman' %}">Go back</a></button>
</body>
</html>