body {
    background-color: lightblue !important;
}

.hangman-container {
    max-width: 380px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

#gallows {
    height: 40px;
}

#secret_word, #secret_score {
    display: none;
}

#container {
    border: 1px dotted navy;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

#letters {
    max-width: 370px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#success {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 355px;
    background-color: blue;
    border-radius: 10px;
    opacity: 0.6;
    z-index: 3;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin: 4px;
    background-color: aliceblue;
    color: navy;
    font-size: 20px;
}

.letter:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    background-color: beige;
    cursor: pointer;
}

#dashedWord {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.letter_dash {
    width: 20px;
    margin: 5px;
    font-size: 24px;
}

#score, h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px;
    color: navy;
}

.container-hanged, .container_win {
    width: 220px;
    height: 420px;
    border: 1px dotted navy;
    border-radius: 10px;
    text-align: center;
    background-color: lightblue;
    color: navy;
}

button, #play_again_win {
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 20px;
    background-color: navy;
    color: aliceblue;
    margin-top: 30px;
    font-size: 25px;
}

button:hover, play_again_win:hover {
    transform: scale(1.05);
    opacity: 0.9;
    transition-duration: 0.7s;
    cursor: pointer;
}

#save_name {
    position: absolute;
    width: 220px;
    top: 40%;
    background-color: navy;
    padding: 5px 0 10px 0;
    border-radius: 10px;
}

#save_name h3 {
    color: aliceblue;
}

#save_name input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    font-size: 15px;
    padding-left: 5px;
}